*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --primary-background: #ffffff;
  --secondary-background: #d0d0d0;
  --titlebar-color: #242424;
  --titlebar-btn-hover-color: #444444;
  --titlebar-btn-indicator-color: #ffffff;
  --close-btn-hover-color: #ff0000;
  --primary-accent-color: #adff2f;
  --secondary-accent-color: #9e9e9e;
  --primary-text-color: #000000;
}

body,
html {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: var(--primary-background);
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.dark {
  --primary-background: #242424;
  --secondary-background: #3f3f3f;
  --titlebar-color: #121212;
  --titlebar-btn-hover-color: #444444;
  --titlebar-btn-indicator-color: #ffffff;
  --close-btn-hover-color: #ff0000;
  --primary-accent-color: greenyellow;
  --secondary-accent-color: #5b5b5b;
  --primary-text-color: #ffffff;
}

.settings-btn {
  position: fixed;
  right: -0.5rem;
  background: none;
  border: none;
  height: 28px;
  width: 28px;
  cursor: pointer;
  transition: 0.25s ease-in-out;
  margin-right: 1rem;
}

.settings-btn svg {
  stroke: var(--primary-text-color);
}

.settings-btn:hover > svg {
  stroke: var(--primary-accent-color);
  transition: 0.25s ease-in-out;
}

.settings-menu {
  display: none;
}

.settings-menu.open {
  position: fixed;
  right: 1rem;
  top: 1rem;
  z-index: 10000;
  width: 10rem;
  height: 5rem;
  background-color: var(--secondary-background);
  border-radius: 0.5rem;
  padding: 0.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  list-style: none;
  border: 2px solid var(--primary-text-color);
}

.settings-menu button {
  background: none;
  border: none;
  color: var(--primary-text-color);
  cursor: pointer;
  width: 8rem;
  height: 2rem;
  border-radius: 1000rem;
}

.settings-menu button:hover {
  background-color: var(--primary-accent-color);
}

.settings-menu .accent-picker-li {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-text-color);
}

.settings-menu input {
  height: 2rem;
}

.result {
  position: absolute;
  background-color: var(--secondary-background);
  width: 45%;
  height: 60%;
  margin: 3%;
  border-radius: 3px;
}

.result img {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 100%;
  max-height: 100%;
}

.result .in-progress {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

.result .in-progress svg {
  stroke: var(--primary-text-color);
  height: 5rem;
  width: 5rem;
  animation-name: progress;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes progress {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.progress-bar {
  position: absolute;
  width: 45%;
  height: 2%;
  bottom: 17%;
  left: 3%;
  display: inline-flex;
}

.export-options {
  position: absolute;
  left: 3%;
  bottom: 5%;
  height: 5%;
  width: 45%;
}

.export-options form {
  height: 100%;
  width: 100%;
}

.export-path {
  height: 95%;
  width: 81%;
  padding-left: 2.5%;
  border: none;
  background-color: var(--secondary-background);
  border-radius: 3px;
  color: var(--primary-text-color);
  cursor: pointer;
}

.no-export-path {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-weight: bolder;
  width: 100%;
  height: 0;
  background-color: red;
  margin-bottom: 1rem;
  border-radius: 1rem;
  transition: height 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  overflow: hidden;
}

.file-exists {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-weight: bolder;
  width: 100%;
  height: 0;
  background-color: red;
  margin-bottom: 1rem;
  border-radius: 1rem;
  transition: height 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  overflow: hidden;
}

.save-btn {
  position: relative;
  float: right;
  height: 95%;
  width: 15%;
  border: none;
  font-weight: 900;
  background-color: var(--secondary-background);
  cursor: pointer;
  border-radius: 3px;
  color: var(--primary-text-color);
  overflow: none;
}

.save-btn span {
  position: absolute;
  top: 62%;
  left: 50%;
  transform: translateX(-50%);
  height: 0.15rem;
  width: 0;
  background-color: var(--primary-text-color);
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.save-btn:hover span {
  width: 2.5rem;
}

.options {
  position: absolute;
  right: 0;
  top: 25px;
  background: var(--secondary-accent-color);
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
  border-top-left-radius: 0.5rem;
  overflow-x: hidden;
}

.options .alg-gen-select {
  height: 2.5rem;
  width: 100%;
  text-align: center;
  font-size: 1.25rem;
  font-family: Helvetica;
  border: none;
  border-radius: 0.5rem;
  color: var(--primary-text-color);
  cursor: pointer;
  margin-bottom: 1rem;
  background: var(--primary-background);
}

.options .alg-gen-select:active {
  color: var(--primary-text-color);
}

.options [custom-select] {
  position: relative;
  flex-direction: column;
  height: 2.5rem;
  min-height: 2.5rem;
  width: 100%;
  font-size: 1.25rem;
  font-family: Helvetica;
  border-radius: 0.5rem;
  color: var(--primary-text-color);
  cursor: pointer;
  margin-bottom: 1rem;
  background-color: var(--primary-background);
  user-select: none;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.options [custom-select].expanded {
  min-height: 7.5rem;
  height: 7.5rem;
  overflow: unset;
}

.options [custom-select] svg {
  position: absolute;
  top: 0.85rem;
  right: 0.75rem;
  height: 0.8rem;
  width: 0.8rem;
  stroke: var(--primary-text-color);
  transform: rotate(180deg);
  z-index: 100;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.options [custom-select].expanded svg {
  transform: rotate(0deg);
}

.options [custom-select] span {
  height: 0;
  width: 0;
}

.options [custom-select].expanded span {
  position: absolute;
  top: 2.49rem;
  height: 0.1rem;
  width: 100%;
  background: var(--primary-text-color);
  z-index: 100;
}

.options [custom-select] .custom-options-list {
  display: flex;
  flex-direction: column;
}

.options [custom-select] .custom-option {
  height: 2.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.options [custom-select] .custom-option:hover {
  background-color: var(--primary-accent-color);
}

.options [custom-select].expanded .custom-option.default {
  border-radius: 0.5rem 0.5rem 0 0;
}

.options [custom-select] .custom-option.default {
  border-radius: 0.5rem;
}

.options [custom-select] .custom-option.flow {
  border-radius: 0 0 0.5rem 0.5rem;
}

.options .gen-options-container {
	height: 100%;
}

.options .gen-options {
  font-weight: 700;
  font-family: "Courier New";
  color: var(--primary-text-color);
  background-color: var(--secondary-background);
  padding: 2rem;
  border-radius: 1rem;
  overflow: scroll;
  height: 90%;
}

.option {
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 0.75rem;
}

.option input[type="number"] {
  padding: 0.5rem 0.25rem;
  margin-left: 1rem;
  border: 1px solid var(--primary-text-color);
  border-radius: 0.2rem;
  background-color: var(--primary-background);
  color: var(--primary-text-color);
}

.option input[type="number"]:focus {
  border-color: var(--primary-accent-color);
}

.options .gen-options label {
  color: var(--primary-text-color);
}

.option input[type="color"] {
  margin-left: 1rem;
  border: none;
  border-radius: 0.2rem;
  cursor: pointer;
}

.option input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

.option input[type="color"]::-webkit-color-swatch {
  border: none;
}

.preview-btn {
  background: none;
  border: 3px solid;
  border-color: var(--primary-text-color);
  border-radius: 0.5rem;
  border-width: 0.1rem;
  height: 2rem;
  width: 5rem;
  margin-top: 1rem;
  cursor: pointer;
  color: var(--primary-text-color);
  font-weight: 600;
  transition: all 0.1s cubic-bezier(0.23, 1, 0.32, 1);
  margin-left: 50%;
  transform: translateX(-50%);
}

.preview-btn:hover {
  background-color: var(--primary-text-color);
  color: var(--primary-background);
}
